/* Sidebar channels elements height */
.LoYJxb {
  padding-top: 5px;
  height: 26px;
}

/* Padding height between messages in a thread */
.nF6pT {
  padding-top: 6px;
}

/* Sidebar "recent" or "starred" section title padding height */
.wJNchb,
.nFzS9e {
  margin-top: 10px;
}

/* Draw white line between the sidebar sections and reduce padding */
.PL5Wwe + .wJNchb,
.teTAFe:not(.fXx9Lc) + .vHL80e .aOHsTc {
  border-top: solid 1px #000;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Vertically align triple dots buttons on
   channels in sidebar with the new height */
.MhXXcc {
  line-height: 20px;
}
.gsrV1e {
  height: 22px;
  width: 22px;
}

/* Margin at the bottom of all messages, on top of the New conversation button */
.RPExGf {
  margin: 0px;
}

/* Big emojis size */
.Zc1Emd.NM3Nfc {
  font-size: 24px;
}
/* Inline emojis size */
img {
  border: none;
  font-size: 1.3em !important;
}
/* Reduce top and left margins in thread blocks */
.GVSFtd {
  margin-left: 16px;
}
.jGyvbd {
  border: none;
  padding: 13px 10px 0 0;
}
/* Add border and reduce reply button size and margins */
.m3sLHf {
  font-size: 0.8rem;
  font-weight: 500;
  bottom: 5px;
  padding: 0px 15px 0px 12px;
  right: 8px;
  border-style: solid;
  border-width: 2px;
}
.dCMjy {
  top: 0px;
}
.CKEQkc {
  height: 28px;
}
.CKEQkc:hover:not(.RDPZE) .m3sLHf {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff !important;
  background-color: #00897b;
  border-color: #00897b;
}
.jGyvbd .jO0Dzb {
  background: transparent;
}
.qiUDtb {
  bottom: 4px;
  position: relative;
}
/* Reduce space around blue NEW alert */
.k1lILc {
  padding: 5px 0 0;
}
.k1lILc + .ajCeRb {
  padding-top: 5px;
}
/* Reduce space around "someone added someone" messages */
.mCOR5e {
  padding: 6px 0;
}
/* Prevent "new conversation" message from overlapping on the text */
.pyNvz {
  top: -33px;
}
/* Reduce space between thread blocks */
.cZICLc {
  margin-top: 4px;
}
/* Increase boldness of usenames in conversations */
.Z4BnXb {
  font-weight: 900;
  font-family: cursive !important;
}
/* Make code snippets look like slack's */
.FMTudf {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
  font-size: 0.75rem;
  border: 1px solid #e0e0e0;
  margin: 10px 0;
  padding: 3px 10px;
  background: #f9f9f9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* Make messages take more width */
.bzJiD .jGyvbd .QIJiHb,
.bzJiD .jGyvbd .zX644e {
  max-width: 95%;
}
/* Make inline pre look like slack's */
.U8d2H {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
  background-color: #f7f7f9;
  margin: 0px;
  padding: 1px 3px;
  color: #004d98;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* Reduce sidebar width */
.X9KLPc,
.Riuhhf {
  width: 280px;
}
/* Reduce height of top bar */
.gb_Jf > .gb_R {
  height: 50px !important;
}
.gb_Jf {
  height: 50px;
}
.DWzK6d {
  height: 50px;
}
.Jrbdv {
  height: 50px;
}
/* Reduce margin above "Starred" label */
.aOHsTc {
  margin-top: 5px;
}

/* Fix emojis dimensions */
.iiJ4W {
  height: auto;
  width: auto;
  max-height: 1.2em;
  max-width: 1.2em;
  min-width: auto;
}

/* AUTO GEN */

/* Side Channel Below Logo */
.X9KLPc {
  background-color: rgba(4, 166, 255, 0.8);
}

/* Side Channel Active Room */
.PL5Wwe.KKjvXb:not(.tuKyod),
.PL5Wwe.qs41qe:not(.tuKyod) {
  background-color: rgba(243, 60, 87, 0.9);
  border-radius: 5px 15px;
  box-shadow: -2px 5px 8px black;
}

/* Font color of active channel in sidebar */
.PL5Wwe.KKjvXb:not(.tuKyod) > .t5F5nf,
.PL5Wwe.qs41qe:not(.tuKyod) > .t5F5nf {
  color: #fff !important;
  font-weight: 800 !important;
  font-family: "Times New Roman", Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
}
.PL5Wwe.KKjvXb:not(.tuKyod) > .t5F5nf span,
.PL5Wwe.qs41qe:not(.tuKyod) > .t5F5nf span {
  font-weight: 700;
  color: #fff;
}

/* Room Names */
/* Channel name color in sidebar */
.t5F5nf {
  color: black;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important; */
}

/* Time and menu buttons and clock for channels inactive and active colors */
/* Time next to room */
.sFuxxd {
  color: rgb(0, 0, 0);
}
/* No Idea, more testing needed */
/* Time for Alerted Message */
.PL5Wwe.H7du2 .sFuxxd {
  color: black;
  background-color: red;
  font-weight: 800 !important;
}
/* No Idea, more testing needed */
/* Alert Bell Next to Room!!! */
.DQy0Rb {
  fill: rgb(159, 98, 238) !important;
}

.PL5Wwe.H7du2 .DQy0Rb {
  fill: rgb(255, 252, 0) !important;
}

/* The Triple Dots */
.QeRfYe {
  fill: rgb(245, 14, 206) !important;
}
/*.PL5Wwe.H7du2 .QeRfYe {
  fill: #fff !important;
} */
